.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_open {
  transition: background 1s linear;
  background-color: rgba(255, 255, 255, 0);
}

.container_close {
  background-color: rgba(94, 53, 177, 1);
}

.button {
  border: solid 1px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  line-height: 60px;
  transition: all 0.5s ease-in;
}

.button_open {
  color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0);
}

.button_open:hover {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

.button_close {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
}

.button_close:hover {
  color: rgba(171, 71, 188, 1);
  border-color: rgba(171, 71, 188, 1);
  background-color: rgba(255, 255, 255, 1);
}
