.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header_box {
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  background-color: #009688;
  border-bottom: solid 1px rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  margin: 0;
  padding: 0;
}

.header_right {
  margin: 0;
  padding: 0;
}

.header_center {
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: center;
}

.header_center h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.main_box {
  height: 660px;
  width: 100%;
  margin: 0;
  padding: 6px;
}

.footer_box {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #212121;
  text-align: center;
}

.footer_box a {
  margin-top: 2px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.progress_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
